    <header>
        <h2> Fire at your opponent's board </h2>
    </header>


<div>

    <section style="float: left">
        <h4>Your board</h4>
          <pre>
<%= @board %>
          </pre>
    </section>

    <section style="float: right">
        <h4>Opponent board</h4>
        <pre>
<%= @opponent_board %>
        </pre>
    </section>

</div>




</body>
</html>
