
    <header>
        <h3> Let's start the battle </h3>
    </header>


<div>

    <section style="float: left">
        <h1>Your board</h1>
          <pre>
<%= @board %>
          </pre>
    </section>

    <section style="float: right">
        <h1>Opponent board</h1>
    </section>

</div>




</body>
</html>