.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}

.clearfix:after{
  clear:both;
}


h1 {
  color: black;
  font-size: 40px;
  padding: 20px;
}

.box {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sixing: border-box;
}


header {
  background-color: red;
  height: 150px;
}

.main {
  width: 100%;
}

.sectionL {
  float: left;
  width: 50%;
  background-color: yellow;
  height: 450px;
}

.sectionR {
  float: right;
  width: 50%;
  background-color: green;
  height: 450px;
}


footer {
  background-color: blue;
  height: 150px;
}

