<div>

  <h1>Welcome to Battleships, Admiral <%= @visitor %></h1>

<main>
  <pre>

<%= @board %>

  </pre>
</main>

<form action='/place_ships'>
  <input type="submit" value="Place ships" >
</form>

</div>

